<button mat-menu-item [matMenuTriggerFor]="rootMenu">Menu</button>

<mat-menu #rootMenu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Item 2</button>
  <button mat-menu-item>Item 3</button>
  <button mat-menu-item>Item 4</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item [matMenuTriggerFor]="subSubMenu">Item 2</button>
</mat-menu>

<mat-menu #subSubMenu="matMenu">
  <button mat-menu-item>Item 1</button>
</mat-menu>
